@import "tailwindcss";

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.scrollbar-hidden::-webkit-scrollbar-thumb,
.scrollbar-hidden::-webkit-scrollbar-track {
  background: transparent;
}
